<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
        }
        button{
            background-color: rgb(255, 123, 167);
            color: white;
            font-family: 'Salsa' , cursive;
            font-size: 40px;
            margin-bottom: 30px;
            border-radius: 20px;
            border: 2px solid rgb(255, 123, 167);
            height: 100px;
            display: block;
            width: 400px;
        }
    </style>
</head>
<body>
    <div>
        <a href="/macros"><button id="macros">Macros Calculator</button></a>
       <a href="/bmi"> <button id="bmi">BMI Calculator</button></a>
    </div>
</body>
</html>